

@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    color: #fff;
    
}

.random-color h1 {
    transition: color 0.3s ease;
}
/* Style for span elements */
.random-color h1 span {
    transition: color 0.1s ease; /* Adjust the transition duration as needed */
}
.random-color h1 span:not(:hover) {
    color: white;
}



html, body {
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
}


h1{
    font-family: "Cedarville Cursive", cursive;
}

#main {
    height: 100%;
    width: 100%;
    /* background-color: hsl(345.6deg 16.13% 69.61%); */
    background-color: rgb(48, 89, 102);
      /* background-color:rgba(186, 154, 204, 0.41); */
    display: flex;
}

#part1 {
    height: 100%;
    width: 26%;
}

#part2 {
    height: 100%;
    width: 67%;
    background-color: aqua;
    

    background-image: url('./wallpapersden.com_ultra-goku-cool-2020-minimal_3840x2160.jpg');
    background-size: cover; /* Ensures the background image covers the entire element */
    background-position: center; /* Centers the background image */
    
}

#overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(74, 168, 200, 0.215);
}



#part3 {
    height: 100%;
    width: 7%;
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


 @keyframes leftright {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}



#text-div{
    position: absolute;
    height: 300px;
    width: 300px;
    /* background-color: rgb(74, 168, 200); */
    left:20%;
    top:35%;
    transform: translate(1, -50%);
    margin: 0;
    padding: 0;
}

#text-div>h1{
    color: white;
    letter-spacing: 7px;
    font-size: 60px;
    font-family: sans-serif;
    line-height: 58px;
    font-weight: 900;
    animation:  slideInLeft 2s ease forwards; 
    /* animation: leftright 1s ease infinite; */
    animation-delay: 0.5s; /* Adjust delay for each text */
}





/* #small-img-div:hover #overlay {
    background-color: rgba(0, 255, 106, 0.163); 
} */

#small-img-div{
    cursor: pointer;
    position: absolute;
    height: 300px;
    width: 400px;
    background-color: rgb(220, 246, 255);
    background-image: url('./goku-2.jpg');
    background-size: cover; /* Ensures the background image covers the entire element */
    background-position: center; /* Centers the background image */
    /* border-radius: 50%; */
    top:34%;
    right: 5%;
}

#small-img-div:hover {
    height: 320px;
    width: 420px;
    border: #fff solid 2px;
} 

/* @keyframes slideUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}


#vertical-text{
    position:absolute;
    /* width: 100%; */
    /* background-color: aqua; */
    /* right: 1%;  
    top: 5%;  
    transform-origin: 0% 0%;
    animation: slideUpDown 3s ease infinite;
} */ 

 @keyframes scrollUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

#vertical-text {
    position: absolute;
    right: 1%;
    top: 5%;
    transform-origin: 0% 0%;
    animation: scrollUp 15s linear infinite;
    white-space: nowrap; /* Ensure the text stays on one line */
} 


#vertical-text>h1{
    cursor: pointer;
    writing-mode: vertical-rl;
    /* transform: rotate(90deg); */
    color: transparent;
    letter-spacing: 10px;
    font-size: 60px;
    font-family: sans-serif;
    line-height: 58px;
    font-weight: 900;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
} 





#nav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    left: 19%;
    top: 5%;
}

#nav img{
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 50%;
}

#nav h5{
    font-size:10px;
    font-family: sans-serif;
    color: #fff;
}

#sound{
    /* font-size: small; */
    padding: 7px;
    background-color:none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #fff;
}
/* .sound-cloud{
    font-size: 1.2rem;
    margin: 7px;
    color: #f50057;
} */
.on-off{
    cursor: pointer;
    margin-left: 5px;
}
#off{
    color: #f50057;
}
#on{
    display: none;
    color: #08fdd8;
}


.scroll-down{
    position: absolute;
    right: -20px;
    bottom: 3.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    display: block;
    font-size: 14px;
    color: #fff;
}
.scroll-down--left{
    left: -20px;
    right: auto;
    color: #ffffff;
}
.scroll-down span{
    display: inline-block;
    animation: scroll .5s linear infinite alternate-reverse;
}


@keyframes scroll{
    0%{
        transform: translateX(-7px);
    }
    100%{
        transform: translateX(7px);
    }
}
.scroll-down .fas{
    transform: rotate(270deg);
    margin-left: 10px;
}

/* FOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOTER */

.new_footer_area {
    background: linear-gradient( rgb(235, 234, 234),rgb(48, 89, 102));
}

.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
    overflow-x: hidden;
}



.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 266px;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
    background-size: 100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    animation: myfirst 30s linear infinite;
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}



#fmenu{

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex:wrap;
    background-color:rgb(48, 89, 102);
    

    
    /* top: 95%; */
}

#fmenu h5{
    font-size:30px;
    font-family: sans-serif;
    color:white;
    
    letter-spacing: 5px;
    padding: 0;
    margin: 0;

}
#fmenu>h5:hover {
    color: #319795; /* Teal-600 color */
     }

h4{
    font-weight: 900;
    color:#ffffff;
    letter-spacing: 1px;
}

h4:hover{
    color: #000000;
    transition: color 0.3s ease;
}





/*****************************neecheprokrc**************/



/* Flex item */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

/* Flex item */
.flex-item {
    background-color: #fff;
    border: 1px solid #1a1717;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    flex: 1 0 300px; /* Flex item will grow and shrink to fit container */
    width: 300px; /* Set width */
    height: 300px; /* Set height to make it square */
}

/* Hover effect */
.flex-item:hover {
    transform: translateY(-10px); /* Adjust the distance */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
    background-color: rebeccapurple;
}


/**********************projects*****************/
